In [1]:
a = 10
type(a)

int

In [2]:
# int -> float
float(a)

10.0

In [3]:
# int -> str
str(a)

'10'

In [5]:
# int -> bool
bool(10)

True

In [6]:
# float -> int: 10.6 -> 정수형 변환 시 소수점 이하 값 버린다.
int(10.9)

10

In [9]:
x = 4.6
y = 7.9

print(int(x + y)) # 4.6 + 7.9 = 12.5 -> 버림 -> 12
print(int(x) + int(y)) # 4 + 7 -> 11

12
11

In [12]:
# str -> int
p = '88.3'
# int(p)
float(p)

# str에서 int로 바꿀 때는 str의 shape이 int의 shape에 해당해야함

88.3

### 꿀팁
print()

In [13]:
print('orange', 'apple', 'tomato') # default: 띄어쓰기, 줄바꿈
print('the next line')

orange apple tomato
the next line

In [15]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

#1.
print(orange + apple + tomato) # '+' 연결 가능하지만 원소들 간의 공백이 사라짐

#2.
print(orange, apple, tomato, sep=' ', end='\n') # default
print(orange, apple, tomato, sep='_', end='\n\n') # 변형
print('EOL')

orangeappletomato
orange apple tomato
orange_apple_tomato

EOL

In [16]:
# 라인이 짧을 때 ==> ;
orange = 'orange'; apple = 'apple'; tomato = 'tomato'

In [17]:
num = 5; print(num) # 단, 많이 쓰지는 않음

5